<%= render partial: 'navbar' %>
<div class="container">
  <div class="row">
    <div class="main col-lg-12">
      <div class="header-image" style="background-image: url('https://picsum.photos/300/100?image=1033')">
        <div class="header-lesson-title">
          <div class="header-lesson-title-content">
            <div class="header-lesson-title-name"><%= @lesson.title %></div>
            <div class="header-lesson-title-description">〜スペイン語であいさつしよう！〜</div>
          </div>
        </div>
      </div>
   </div>
   <div class="lesson-main-card col-md-8 clearfix">
     <div class="lesson-main-content float-left">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim doloribus quia officiis inventore, soluta reiciendis. Deserunt vitae reiciendis, non quo, optio delectus quia aperiam explicabo repellendus recusandae nam a unde magnam beatae ut sunt porro repudiandae minus inventore tempora eum. Labore est sunt voluptatum quos quod laudantium distinctio iusto. Ratione voluptates nesciunt praesentium blanditiis saepe veritatis consequuntur voluptate! Ut dolorem voluptatibus ratione, eveniet, culpa, aut quibusdam repellendus modi ea libero rerum similique accusantium delectus sapiente ab quidem dolorum quae laborum praesentium sed fugit iste magnam? Sunt aliquam nihil, ducimus esse ipsam fugiat magnam culpa nostrum repellat fugit, cum laboriosam consequuntur.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi non architecto illum porro quasi aut suscipit magnam ipsum provident voluptate adipisci perferendis, sapiente rerum, consequuntur ullam. Voluptates eos repudiandae excepturi quis corporis! Cupiditate sapiente nulla illo mollitia, accusamus quos eligendi laboriosam? Nobis ipsam, maxime pariatur odit laboriosam amet deserunt quia facilis eos corrupti vel nihil odio, atque quasi qui consectetur blanditiis ad sint, esse accusamus fugit itaque aspernatur? Dolores cumque doloremque sed, animi fugit mollitia ipsam amet maiores non corrupti eum, delectus ipsum quibusdam vero ipsa quasi similique numquam deleniti vel at commodi officiis obcaecati! Sapiente atque, voluptatem a perferendis sed quo. Harum corporis animi dignissimos laudantium, ipsa repellat mollitia est, dicta nihil, nam eveniet nemo molestiae temporibus corrupti nulla! Rem aperiam beatae molestias atque nam laboriosam aspernatur excepturi nobis ratione, voluptate rerum vero nemo ducimus voluptatem odit, tenetur corrupti voluptatibus ipsam. Molestias, fugit saepe iure recusandae ipsam similique nostrum laudantium iusto fugiat alias exercitationem, qui quam, id itaque voluptatum numquam? Quia ipsum vel sed, quasi sint ullam suscipit quod dignissimos at beatae ipsam corporis tempora quaerat possimus nostrum asperiores assumenda voluptates id! Perferendis veritatis expedita culpa explicabo amet ex neque! Vel omnis placeat perspiciatis, modi distinctio itaque ipsum minus?</p>

        <button type="button" class="btn btn-outline-danger">次のレッスン</button>
     </div>
    </div>
  <div class="overview col-md-4 clearfix">
    <div class="overview-card float-right">
      <div class="card-header overview">
        目次
      </div>
        <ul class="overview-list-group list-group-flush">
          <li class="overview list-group-item">スペイン語であいさつしよう！</li>
          <li class="overview list-group-item">Hola! Come estas?</li>
          <li class="overview list-group-item">Buenos Dias</li>
          <li class="overview list-group-item">スペイン語であいさつしよう！</li>
          <li class="overview list-group-item">Hola! Come estas?</li>
          <li class="overview list-group-item">Buenos Dias</li>
          <li class="overview list-group-item">スペイン語であいさつしよう！</li>
          <li class="overview list-group-item">Hola! Come estas?</li>
          <li class="overview list-group-item">お疲れ様です！</li>
        </ul>
    </div>
  </div>
</div>
</div>
