/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

// -------------------------- Navbar -------------------------------------
.navbar {
  height: 70px;
  background-color: #fff;
  color: #525c65;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.navbar-brand {
  margin-left: 100px;
}

.collapse {
  margin-right: 100px;
}
// -------- Course_layout_header --------------
.course-layout-header {
  padding: 50px 0 0 200px;
  height: 100%;
}

.course-name-ja {
  font-size: 25px;
  padding-top: 10px;
}

.course-explain {
  padding-top: 10px;
}

.course-name-es {
  font-size: 40px;
  padding-top: 55px;
  text-align: center;
  font-weight: 100;
}

// --------------------------- lessons-group -------------------------------------
.card-img-top {
  height: 100px;
  color: white;
  display: flex;
  padding: 0 0 15px 5px;
}

.lesson-number {
  display: block;
}

.lesson-group-times {
  margin-left: 8px;
  font-size: 12px;
  line-height: 15px;
  padding: 10px 10px;
  border: 1px solid white;
  border-radius: 100%;
  text-align: center;
}

.main-lessons-container {
  padding: 0 10px 30px 200px;
  width: 85%;
  display: flex;
  flex-wrap: wrap;
}

.lessons-group {
  padding-top: 30px;
  width: auto;
}

.card {
  border: none;
}

.list-group,
.card-img-top {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 300px;
}

.list-group-item {
  padding: 17px 15px;
}

.list-group-item a {
  color: black;
  font-weight: 150;
  text-decoration: none;
}

// ***************** Show.html.erb ************************
.row {
  padding: 30px;
}

.header-image {
  background-size: cover;
  margin-bottom: 45px;
}

.header-lesson-title {
  height: 625px;
  width: 100%;
  position: relative;
}

.header-lesson-title-content {
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 500px;
  height: 200px;
}

.header-lesson-title-name {
  font-size: 50px;
  font-weight: 300px;
  text-align: center;
}

.header-lesson-title-description {
  padding-top: 20px;
  font-weight: 150px;
  font-size: 30px;
  text-align: center;
}

.overview {
  width: 250px;
}

.card-header {
  border: 0.3px solid white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

.overview-list-group {
  border: 0.3px solid white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-top: none;
  font-size: small;
  font-weight: 200;
}

.lesson-main-content {
  border: blanchedalmond;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
  width: 760px;
  padding: 36px 30px;
  font-weight: 300;
  color: #333;
  line-height: 1.55;
  letter-spacing: 0.1rem;
  font-size: 1rem;
}

.btn-outline-danger {
  margin-top: 70px;
  margin-left: 300px;
}
